<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h3>
    Toggling leds controlled by a Raspberry
  </h3>
  <img width="200" alt="My logo" src="./Images/Jupiter.jpg">

</div>

<br>
<div style="text-align:center">
  <button type="button" class="btn btn-success button1" (click)="ToggleGreenLed0()">Green LED</button>
  <button type="button" class="btn btn-warning button1" (click)="ToggleYellowLed0()">Yellow LED 1</button>
  <button type="button" class="btn btn-warning button1" (click)="ToggleYellowLed1()">Yellow LED 2</button>
  <button type="button" class="btn btn-danger button1" (click)="ToggleRedLed0()">Red LED 1</button>
  <button type="button" class="btn btn-danger button1" (click)="ToggleRedLed1()">Red LED 2</button>
</div>

<router-outlet></router-outlet>

