<!--The content below is only a placeholder and can be replaced.-->
  <div style="text-align:center">
    <h1>
      This website allows you to turn my leds on or of
    </h1>
    <img width="300" alt="My logo" src="air.JPG">

    <br />
    <button type="button" class="btn btn-success">Green LED</button>
    <button type="button" class="btn btn-warning">Yellow LED 1</button>
    <button type="button" class="btn btn-warning">Yellow LED 2</button>
    <button type="button" class="btn btn-danger" (click)="ToggleRedLed0()">Red LED 1</button>
    <button type="button" class="btn btn-danger" (click)="ToggleRedLed1()">Red LED 2</button>
  </div>


<router-outlet></router-outlet>
